
.form{
 background-image: url('https://companieslogo.com/img/orig/UNIONBANK.NS-5bba728d.png?t=1720244494');
 background-size: cover;   
 background-position: center;
    background-repeat: no-repeat; 
    padding: 20px;
    border-radius: 10px;
    background-size: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
h2{
    text-align: center;
    color: black;
    font-weight: bold;
}
input{
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px !important;
}
label{
    font-weight: bold;
    margin-right: auto;
}  
.site-header{
    text-align: center;
    padding: 10px;
}

.header-logo{
    width: 400px;
    height: auto;
}